<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Scribble</string>
	<key>CFBundleGetInfoString</key>
	<string>Scribble 1.0, version 3, © 2006 The Omni Group</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniDazzle.Scribble</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2006 The Omni Group</string>
	<key>NSPrincipalClass</key>
	<string>ODPlugin</string>
	<key>OFRegistrations</key>
	<dict>
		<key>ODPluginRecord</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>bindings</key>
				<array>
					<dict>
						<key>key</key>
						<string>clearScreen</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>50</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>drawWithPen1</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>18</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>drawWithPen2</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>19</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>drawWithPen3</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>20</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>drawWithPen4</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>21</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
				</array>
				<key>class</key>
				<string>com_omnigroup_OmniDazzle_Scribble</string>
				<key>descriptionFileNames</key>
				<array>
					<string>Description</string>
				</array>
				<key>settings</key>
				<dict>
					<key>pen1Color</key>
					<dict>
						<key>b</key>
						<real>0.90000000000000002</real>
						<key>g</key>
						<real>0.90000000000000002</real>
						<key>r</key>
						<real>0.90000000000000002</real>
					</dict>
					<key>pen1LineWidth</key>
					<real>5</real>
					<key>pen1OutlineColor</key>
					<dict>
						<key>w</key>
						<real>0.0</real>
					</dict>
					<key>pen2Color</key>
					<dict>
						<key>b</key>
						<real>0.10000000000000001</real>
						<key>g</key>
						<real>0.10000000000000001</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>pen2LineWidth</key>
					<real>5</real>
					<key>pen2OutlineColor</key>
					<dict>
						<key>w</key>
						<real>0.0</real>
					</dict>
					<key>pen3Color</key>
					<dict>
						<key>b</key>
						<real>0.20000000000000001</real>
						<key>g</key>
						<real>0.80000000000000004</real>
						<key>r</key>
						<real>0.10000000000000001</real>
					</dict>
					<key>pen3LineWidth</key>
					<real>5</real>
					<key>pen3OutlineColor</key>
					<dict>
						<key>w</key>
						<real>0.0</real>
					</dict>
					<key>pen4Color</key>
					<dict>
						<key>b</key>
						<real>0.90000000000000002</real>
						<key>g</key>
						<real>0.29999999999999999</real>
						<key>r</key>
						<real>0.10000000000000001</real>
					</dict>
					<key>pen4LineWidth</key>
					<real>5</real>
					<key>pen4OutlineColor</key>
					<dict>
						<key>w</key>
						<real>0.0</real>
					</dict>
				</dict>
				<key>settingsNibName</key>
				<string>Config</string>
				<key>valueTransformerNames</key>
				<dict>
					<key>pen1Color</key>
					<string>OAColorToPropertyList</string>
					<key>pen1OutlineColor</key>
					<string>OAColorToPropertyList</string>
					<key>pen2Color</key>
					<string>OAColorToPropertyList</string>
					<key>pen2OutlineColor</key>
					<string>OAColorToPropertyList</string>
					<key>pen3Color</key>
					<string>OAColorToPropertyList</string>
					<key>pen3OutlineColor</key>
					<string>OAColorToPropertyList</string>
					<key>pen4Color</key>
					<string>OAColorToPropertyList</string>
					<key>pen4OutlineColor</key>
					<string>OAColorToPropertyList</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>com.omnigroup.OmniDazzleFramework</key>
		<string>1</string>
	</dict>
</dict>
</plist>
