<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Sonar</string>
	<key>CFBundleGetInfoString</key>
	<string>Sonar 1.0, version 3, © 2006 The Omni Group</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniDazzle.Sonar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2006 The Omni Group</string>
	<key>NSPrincipalClass</key>
	<string>ODPlugin</string>
	<key>OFRegistrations</key>
	<dict>
		<key>ODPluginRecord</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>bindings</key>
				<array>
					<dict>
						<key>key</key>
						<string>active</string>
						<key>sourceKey</key>
						<string>value</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>50</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
				</array>
				<key>class</key>
				<string>com_omnigroup_OmniDazzle_Sonar</string>
				<key>descriptionFileNames</key>
				<array>
					<string>Description</string>
					<string>Description2</string>
				</array>
				<key>settings</key>
				<dict>
					<key>backgroundColor</key>
					<dict>
						<key>a</key>
						<real>0.76000000000000001</real>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.085999999999999993</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>ringColor</key>
					<dict>
						<key>a</key>
						<real>0.59999999999999998</real>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.80000000000000004</real>
						<key>r</key>
						<real>0.0</real>
					</dict>
					<key>ringRadius</key>
					<integer>100</integer>
					<key>shineSize</key>
					<integer>45</integer>
					<key>sweepSpeed</key>
					<real>1</real>
				</dict>
				<key>settingsNibName</key>
				<string>Config</string>
				<key>valueTransformerNames</key>
				<dict>
					<key>backgroundColor</key>
					<string>OAColorToPropertyList</string>
					<key>ringColor</key>
					<string>OAColorToPropertyList</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>com.omnigroup.OmniDazzleFramework</key>
		<string>1</string>
	</dict>
</dict>
</plist>
