<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Zoom</string>
	<key>CFBundleGetInfoString</key>
	<string>Zoom 1.0, version 3, © 2006 The Omni Group</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniDazzle.Zoom</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2006 The Omni Group</string>
	<key>NSPrincipalClass</key>
	<string>ODPlugin</string>
	<key>OFRegistrations</key>
	<dict>
		<key>ODPluginRecord</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>bindings</key>
				<array>
					<dict>
						<key>key</key>
						<string>clear</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>50</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
					<dict>
						<key>key</key>
						<string>zoomRect</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>18</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
				</array>
				<key>class</key>
				<string>com_omnigroup_OmniDazzle_Zoom</string>
				<key>descriptionFileNames</key>
				<array>
					<string>Description</string>
					<string>Description2</string>
				</array>
				<key>settings</key>
				<dict>
					<key>borderColor</key>
					<dict>
						<key>a</key>
						<real>0.5</real>
						<key>w</key>
						<real>0.5</real>
					</dict>
					<key>borderWidth</key>
					<real>15</real>
					<key>zoomLevel</key>
					<real>0.25</real>
				</dict>
				<key>settingsNibName</key>
				<string>Config</string>
				<key>valueTransformerNames</key>
				<dict>
					<key>borderColor</key>
					<string>OAColorToPropertyList</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>com.omnigroup.OmniDazzleFramework</key>
		<string>1</string>
	</dict>
</dict>
</plist>
