<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Comic</string>
	<key>CFBundleGetInfoString</key>
	<string>Comic 1.0, version 3, © 2006 The Omni Group</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniDazzle.Comic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2006 The Omni Group</string>
	<key>NSPrincipalClass</key>
	<string>ODPlugin</string>
	<key>OFRegistrations</key>
	<dict>
		<key>ODPluginRecord</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>ODPluginSettingsManagerClass</key>
				<string>ComicPluginSettingsManager</string>
				<key>bindings</key>
				<array>
					<dict>
						<key>key</key>
						<string>active</string>
						<key>sourceKey</key>
						<string>primitiveValue</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>50</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
				</array>
				<key>class</key>
				<string>com_omnigroup_OmniDazzle_Comic</string>
				<key>descriptionFileNames</key>
				<array>
					<string>Description</string>
					<string>Description2</string>
					<string>Description3</string>
				</array>
				<key>settings</key>
				<dict>
					<key>scale</key>
					<real>1</real>
					<key>shadowBlurRadius</key>
					<real>3</real>
					<key>shadowEnabled</key>
					<true/>
					<key>shadowVector</key>
					<dict>
						<key>x</key>
						<real>0.0</real>
						<key>y</key>
						<real>-5</real>
					</dict>
					<key>strings</key>
					<array>
						<dict>
							<key>exclamation</key>
							<string>Pow!</string>
						</dict>
						<dict>
							<key>exclamation</key>
							<string>Zot!</string>
						</dict>
						<dict>
							<key>exclamation</key>
							<string>Rend!</string>
						</dict>
						<dict>
							<key>exclamation</key>
							<string>Fold!</string>
						</dict>
						<dict>
							<key>exclamation</key>
							<string>Kapow!</string>
						</dict>
						<dict>
							<key>exclamation</key>
							<string>Biff!</string>
						</dict>
						<dict>
							<key>exclamation</key>
							<string>Squelch!</string>
						</dict>
					</array>
				</dict>
				<key>settingsNibName</key>
				<string>Config</string>
				<key>valueTransformerNames</key>
				<dict>
					<key>shadowVector</key>
					<string>OFPointToPropertyListTransformer</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>com.omnigroup.OmniDazzleFramework</key>
		<string>1</string>
	</dict>
</dict>
</plist>
