<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PixieDust</string>
	<key>CFBundleGetInfoString</key>
	<string>PixieDust 1.0, version 3, © 2006 The Omni Group</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnigroup.OmniDazzle.PixieDust</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2006 The Omni Group</string>
	<key>NSPrincipalClass</key>
	<string>ODPlugin</string>
	<key>OFRegistrations</key>
	<dict>
		<key>ODPluginRecord</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>bindings</key>
				<array>
					<dict>
						<key>key</key>
						<string>active</string>
						<key>sourceKey</key>
						<string>value</string>
						<key>sourceObject</key>
						<dict>
							<key>flags</key>
							<string>control</string>
							<key>key</key>
							<integer>50</integer>
							<key>type</key>
							<string>hot-key</string>
						</dict>
						<key>type</key>
						<string>bool</string>
					</dict>
				</array>
				<key>class</key>
				<string>com_omnigroup_OmniDazzle_PixieDust</string>
				<key>descriptionFileNames</key>
				<array>
					<string>Description</string>
					<string>Description2</string>
					<string>Description3</string>
				</array>
				<key>qualifier</key>
				<dict>
					<key>op</key>
					<string>and</string>
					<key>qualifiers</key>
					<array>
						<dict>
							<key>op</key>
							<string>=</string>
							<key>path</key>
							<string>opengl.extensions.GL_ARB_shader_objects</string>
							<key>value</key>
							<true/>
						</dict>
						<dict>
							<key>op</key>
							<string>=</string>
							<key>path</key>
							<string>opengl.extensions.GL_ARB_vertex_shader</string>
							<key>value</key>
							<true/>
						</dict>
						<dict>
							<key>op</key>
							<string>=</string>
							<key>path</key>
							<string>opengl.extensions.GL_ARB_shading_language_100</string>
							<key>value</key>
							<true/>
						</dict>
						<dict>
							<key>op</key>
							<string>not</string>
							<key>qualifier</key>
							<dict>
								<key>op</key>
								<string>and</string>
								<key>qualifiers</key>
								<array>
									<dict>
										<key>op</key>
										<string>=</string>
										<key>path</key>
										<string>opengl.renderer</string>
										<key>value</key>
										<string>NVIDIA GeForce 7300 GT OpenGL Engine</string>
									</dict>
									<dict>
										<key>op</key>
										<string>=</string>
										<key>path</key>
										<string>hw.machine</string>
										<key>value</key>
										<string>1</string>
									</dict>
									<dict>
										<key>op</key>
										<string>&gt;</string>
										<key>path</key>
										<string>hw.memsize</string>
										<key>value</key>
										<integer>2147483648</integer>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
				<key>settings</key>
				<dict>
					<key>color0</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.66000000000000003</real>
						<key>r</key>
						<real>1</real>
					</dict>
					<key>color1</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
					</dict>
					<key>particleDensity</key>
					<real>0.25</real>
					<key>pointSize</key>
					<real>15</real>
				</dict>
				<key>settingsNibName</key>
				<string>Config</string>
				<key>valueTransformerNames</key>
				<dict>
					<key>color0</key>
					<string>OAColorToPropertyList</string>
					<key>color1</key>
					<string>OAColorToPropertyList</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OFRequiredSoftwareVersions</key>
	<dict>
		<key>com.omnigroup.OmniDazzleFramework</key>
		<string>1</string>
	</dict>
</dict>
</plist>
